/*  GWOPA custom styles */

.label.Goal {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #c2f2ff;}

.label.Indicator {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #bdffcf;}

.label.Output {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #0083a5;}

.label.Outcome {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #e4e4e4;}

.label.TargetValue {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #b2b2b2;}

.block_sub_indicators {
    margin-top:10px;
}

ul.logframe_item li,
ul.activity_item li {
  list-style: none;}

.img200 {
  width: 200px;
  height: 200px;
}

 .img128 {
  width: 128px;
  height: 85px;
 }

.right { float:right; }
.left { float:left; }

.template-login_form div#content-core,
.template-login_failed div#content-core,
.template-logged_out div#content-core {
  margin-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  width: 420px;
}

.template-login_form .documentDescription,
.template-login_failed .documentDescription,
.template-logged-out .documentDescription {
    text-align: center;
    background-color: white;
}


#image_login {
  padding-bottom: 30px;
}

#login-forgotten-password {
  padding-top: 10px;
  text-align: center;
}
