/*  GWOPA custom styles */
.editable-click {
  border:none !important;
}
.target {
  background-color: #f2f1f1;
}
#tableFocalPoint td,
#tableMembers td {
  vertical-align: middle;
}
/*#tableFocalPoint > tbody > tr > td {
  padding: 0px !important;
}*/
.morecontent, {
  display: none;
}
.morelink {
  float:right;
  display: block;
}
.more > p {
  margin-bottom: 0px !important;
}
#uc { float: right;}
#s2id_out-title,
#s2id_kpi-title,
#s2id_kpizone-title,
#s2id_out-unit,
#s2id_kpi-unit,
#s2id_kpizone-unit,
#s2id_out-frequency,
#s2id_kpi-frequency,
#s2id_kpizone-frequency,
#s2id_autogen1,
#s2id_map-year,
#s2id_map-area,
#s2id_map-program,
#s2id_map-partner,
#s2id_map-country,
#s2id_map-kpi,
#s2id_map-region,
#s2id_map-tags,
#s2id_map-platform,
#s2id_outcomeccs-degree_changes
{
   width: 100%;
}
div[id$='-activity-obs'], div[id$='-activity-contrib'], div[id$='-output-obs'],
div[id$='-output-contrib'], div[id$='-kpi-obs'], div[id$='-kpi-contrib'] {
  margin-bottom: 0px !important;
  padding: 0px !important;
}
div[id$='-addObstacleActivity'], div[id$='-addObstacleOutput'], div[id$='-addObstacleKPI'],
div[id$='-addContributingActivity'], div[id$='-addContributingOutput'], div[id$='-addContributingKPI'] {
  font-size: 12px;
}
div[id$='addBox'], div[id$='-addObstaclesActivity'], div[id$='-addObstaclesOutput'], div[id$='-addObstaclesKPI'],
div[id$='-addContributingsActivity'], div[id$='-addContributingsOutput'], div[id$='-addContributingsKPI'] {
  display: none;
}
#addKPITitle {
  padding-bottom: 7px!important;
}
.fa-trash-alt:before, .fa-edit:before { font-size: 15px;}
ul.select2-choices {
   width: 100%;
}

.contibutioncentered {
  width: 11%;
  text-align: center;
}
.people-control {
  display: block;
}
.dot {
  margin-right: 4px;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#done {
  color: #31b0d5;
}
#todo {
  color: #f49200;
}
#formfield-form-widgets-startplanned,
#formfield-form-widgets-startactual,
#formfield-form-widgets-completionplanned,
#formfield-form-widgets-completionactual {
  padding-left: 30px;
}

select#formfield-form-widgets-members {
  height: 34px !important;
}

.plone-toolbar-expanded #edit-zone li:not(.active) a:hover>span {
  color: white;
}

#edit-zone nav > ul a:focus {
    color: white;
}

.plone-toolbar-top #edit-zone nav>ul {
  float: right;
}

.logo_img {
  height: 50px;
  top: 0;
  position: absolute;
  left: 10px;
}

.plone-toolbar-top #edit-zone nav {
  padding-left: 125px;
}

#edit-zone {
  background: white;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0px 2px 6px 0px #cecece;
}

#edit-zone nav>ul a {
  color: #696969;
}

.btn_remove, .btn_remove:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #d43f3a;
  box-shadow: none;
  margin-bottom: 25px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;

}
.btn_warning, .btn_warning:hover {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
  box-shadow: none;
  margin-bottom: 25px;
  padding: 10px 12px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.portaltype-project .fullwidth {
    width: 100%;
}

.discussion .commentImage {
    width: 40px;
}


/* SITE STATE COLORS */
.actions-in-object {
  float:right;
}
span.icon-plone-contentmenu-workflow.label-state-private:before {
    color: #c4183c;
}
span.icon-plone-contentmenu-workflow.label-state-published:before {
    color: #007bb3;
}
span.icon-plone-contentmenu-workflow.label-state-pending:before {
    color: #e2e721;
}

/* SIDEBAR */

div.outer-wrapper {
  margin-left: 10%
}

#portal-logout {
  display: unset;
  padding-top: unset;
  float: unset;
}

#portal-logout {
  padding-left: 0px;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #004657;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

/* END SIDEBAR */

.paddingleft20 {
  padding-left: 40px !important;
}

#form-widgets-wop_platform {
    width: 50%;
}

#portal-logout {
    display: inline-block;
    padding-top: 5px;
    float: right;
}

#portal-logout li {
    display: inline-block;
    margin-right: 10px;
}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.4;         //This grays it out to look disabled
}

.label.ImprovementArea {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #c2f2ff;
    border-radius: 4px;
}

.label.Output {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.Activity {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.OutcomeCC {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.OutcomeCCS {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.OutcomeKPI {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.OutcomeZONE {
    padding: 1px 10px 1px 10px;
    text-transform: initial;
    color: white;
    background-color: #0083a5;
    border-radius: 4px;
}

.label.TargetValue {
    padding: 1px 10px 1px 10px;
    text-transform: uppercase;
    color: #1e1e1e;
    background-color: #b2b2b2;
    border-radius: 4px;
}
ul.logframe_item li,
ul.activity_item li {
  list-style: none;}

.img200 {
  width: 200px;
  height: 200px;
}

.img128 {
  width: 128px;
  height: 85px;
}

.right { float:right; }
.left { float:left; }

.template-login_form div#content-core,
.template-logged_out div#content-core {
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  width: 420px;
}

.template-login_form div#content-core,{
  margin-top: 120px;
}

.template-login_failed div#content-core {
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    margin: 0 auto 6px;
}

body.template-login_form #content-core,
body.template-logged_out #content-core {
  max-width: 420px;
}

.template-login_failed #content-core, {
    width: 420px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.template-login_form .documentDescription,
.template-login_failed .documentDescription {
    text-align: center;
    background-color: white;
}

#image_login {
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login-forgotten-password {
  padding-top: 10px;
}

ul.item {
  padding-left: 0px;
}

input#sso.context {
  width: 100%;
}

.template-login_failed .portalMessage.error {
  width: 420px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 6px auto 6px;
}

.template-logged_out .documentDescription {
    background-color: #41C0F1;
    border: 1px solid #41C0F1;
    color: rgba(0, 0, 0, 0.5);
    width: 420px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 6px auto 6px;
    height: 50px;
    padding-top: 11px;
    text-align: center;
}

.view-name-new-user #formfield-form-widgets-groups {
  display: none;
}

/* START CSS MODAL DELETE */
.modal-confirm {
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
/* END CSS MODAL DELETE */

.center-btn {
    width: 200px;
    margin: 15px auto 15px auto;
    display: block;
    color: #fff;
    background-color: #007bb1;
    border-color: #00608a;
    box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    border-radius: 24px;
}

.center-btn:hover {
    color: #fff;
    background-color: #00587e;
}


.portaltype-project i.glyphicon.link-mailto {
  display: none;
}

span.requiredfield {
    color: #c4183c;
    font-size: 20%;
}

.container .content {
    display: none;
    padding : 5px;
}

.template-monitoring div#down.contentt {
  margin-left: 8px;
}

.expandedBox {
  background-color: #eee;
}

.button-cancel {
    background-color: white;
    padding: 10px 20px 10px 20px !important;
    border-radius: 20px !important;
    margin: 0px 20px;
    font-weight: 400;
    border: 1px solid #a6a6a6 !important;
    color: #333;
}

.button-save,
.button-save:hover {
    background-color: #007bb1;
    padding: 10px 20px 10px 20px !important;
    border-radius: 20px !important;
    font-weight: 400;
    border: 1px solid #a6a6a6 !important;
    color: white !important;
}

.picker__input__datetime {
    width: 100%;
    height: 36px;
  }

input#out-datetimepicker {
    text-align: center;
}

.picker__holder {
    width: 92%;
}

.picker__nav--next, .picker__nav--prev {
  top: 0em;
}

.picker__day {
  font-size: 12px;
}

.picker__select--month, .picker__select--year {
  height: 3em;
  font-size: 12px;
}

.picker__weekday {
  font-size: 9px;
}

.legend {
    color: #aaa;
    font-weight: 600;
}
.pat-leaflet {
  height: 600px;
}

.irs--sharp .irs-line {
  background-color: #ccc !important;
}

.irs--sharp .irs-bar {
  background-color: #367bb1 !important;
}

.irs--sharp .irs-handle {
  background-color: #367bb1 !important;
}

.irs--sharp .irs-handle>i:first-child {
  border-top-color: #367bb1 !important;
}

.irs--sharp .irs-min,.irs--sharp .irs-max {
  background-color: #367bb1 !important;
}

.irs--sharp .irs-from,.irs--sharp .irs-to,.irs--sharp .irs-single {
  background-color: #367bb1 !important;
}

.irs--sharp .irs-from:before,.irs--sharp .irs-to:before,.irs--sharp .irs-single:before {
  border-top-color: #367bb1 !important;
}

.leaflet-marker-icon {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.3);
  border-radius: 8px;
  border:1px solid #fff;
}
.search-tip b {
  color: #fff;
}
.bar.search-tip b,
.bar.leaflet-marker-icon {
  background: #f66
}
.pharmacy.search-tip b,
.pharmacy.leaflet-marker-icon {
  background: #f6f
}
.restaurant.search-tip b,
.restaurant.leaflet-marker-icon {
  background: #66f
}
.search-tip {
  white-space: nowrap;
}
.search-tip b {
  display: inline-block;
  clear: left;
  float: right;
  padding: 0 4px;
  margin-left: 4px;
}

/* inline_style_edits.inline.css */
img.leaflet-marker-icon {
  border: 0px !important;
  box-shadow: none !important;
}

#map {
    width : 100%;
    height : 650px;
}

[name="leaflet-base-layers"] {
  display: none;
}

#s2id_out-title {
  margin-bottom: 0px;
}

td.thumb_image > img {
    object-fit: cover;
    height: 40px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    width: unset;
    border-radius: 40px;
}

#outcomesPerformance .tabla_cuerpo [class="col-md-12"]:nth-of-type(1) {
  padding-top: 10px;
}

.tabla_cuerpo:nth-of-type(2) [class="col-md-12 text-item-planning"] {
  margin-top: 10px;
}

#outcomesCapacity div.col-md-12 {
  padding: 10px 0px 1px 25px;
}

#outcomesCapacity .tabla_cuerpo [class="col-md-12"]:nth-of-type(1) {
  padding-top: 17px;
}

.text-item-monitoring {
  padding-top:10px;
}

.tabla_items {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: white;
    padding: 0px 15px 15px 15px;
}

.panel-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left !important;
}