html,
body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #f1f1f1;
  font-weight: 400;
  padding: 0px;
  color: #4d4d4d !important;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus {
  text-decoration: none;
  border-bottom: none;
}
li {
  display: block;
}
h2 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px!important;
  margin-bottom: 15px;
}
.h3,
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
a {
  color: #00a9f3;
}
.sidenav a {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
a.plone-btn.plone-btn-info,
a.plone-btn.plone-btn-success {
  border-radius: 0px;
  padding: 15px;
}
.fa:before {
  font-family: FontAwesome !important;
  font-weight: 300;
  margin-right: 0px;
  font-size: 20px;
}
.plone-btn-info,
a.plone-btn.plone-btn-success {
  background-color: #007bb1;
  border-color: transparent;
}
a.plone-btn.plone-btn-success:hover {
  background-color: #31b0d5;
}
ul#sidenav-vertical-overview {
  padding: 0px;
  margin: 0px;
}
ul#sidenav-vertical {
  padding: 0px;
  margin: 0px;
}
#content {
  margin-bottom: 48px;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
}
.documentFirstHeading {
  padding-bottom: 0pc;
  margin: 10px 0px 5px 0px;
  border-bottom: none;
  color: #00a9f3;
  font-weight: 600;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}
.state-private {
  color: #ababab !important;
}
.state-private:hover {
  color: #8e8e8e !important;
}
.context {
  color: #fff;
  background-color: #007bb1;
  border-color: #00608a;
  padding: 7px 18px;
  box-shadow: none !important;
  float: right;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
}
.documentDescription {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
input[type="checkbox"] {
  margin: 5px 5px 0 0;
}
td,
th,
table {
  padding: 10px 10px 10px 20px;
}
h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
input#form-buttons-cancel {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  margin: 0px 20px;
  font-weight: 400;
}
input#form-buttons-save {
  padding: 10px 20px 10px 20px;
}
select[multiple],
select[size] {
  min-height: 34px;
  min-width: 32em;
}
.plone-modal .plone-modal-dialog .plone-modal-header,
.plone-modal .plone-modal-dialog .plone-modal-body,
.plone-modal .plone-modal-dialog .plone-modal-footer {
  padding: 20px 30px;
  background-color: white !important;
}
.plone-modal .plone-modal-dialog .plone-modal-header {
  border-radius: 4px 4px 0px 0px;
}
.plone-modal .plone-modal-dialog .plone-modal-footer {
  border-radius: 0px 0px 4px 4px;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 10px;
}
.plone-modal .plone-modal-dialog .plone-modal-header .plone-modal-close {
  margin-top: -5px;
}
.pattern-pickadate-wrapper .btn-info {
  color: #fff;
  background-color: #007bb1;
  border-color: #00608a;
}
.pat-autotoc.autotabs .autotoc-nav,
.autotabs .autotoc-nav {
  border: none;
  background: none;
}
.autotoc-nav a.active {
  border: none !important;
  border-bottom: 4px solid #007bb1 !important;
  color: #007bb1 !important;
  margin-bottom: 20px !important;
  font-weight: bold !Important;
}
.autotoc-nav a {
  border: none !important;
  color: #666666 !important;
}
.select2-container .select2-choice > .select2-chosen {
  margin-right: 33px;
}
.select2-container-multi .select2-choices {
  min-height: 33px;
  border-radius: 4px;
}
.select2-container .select2-choice .select2-arrow {
  border: none;
}
input.pattern-pickadate-date.picker__input.picker__input--active,
.select2-container .select2-choice .select2-arrow b {
  background-color: white;
}
.pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .picker__input,
.select2-container .select2-choice .select2-arrow b {
  background-color: white;
}
span.label {
  font-weight: 400;
}
label {
  font-weight: 400;
}
.pattern-relateditems-container .toolbar {
  background-color: #fff;
}
.pat-autotoc.autotabs .formControls,
.autotabs .formControls {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin-top: 20px;
}
option {
  background-color: white;
}
h1 span {
  color: #9a9a9a !important;
}
.menuleft a {
  color: #004657;
}
.menuleft {
  margin-top: 12px;
}
p.bottom span:after {
  content: '\A';
  white-space: pre;
}
#portal-header {
  margin-bottom: 20px;
  width: 100% !important;
  background-color: #fff;
  color: white;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0px 2px 6px 0px #cecece;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-top: 0px;
  padding: 10px 15px;
}
.sidenav {
  max-width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #004657;
  overflow-x: hidden;
  width: 13%;
  height: 94%;
  padding-top: 0px;
  margin-top: 65px;
  box-shadow: 6px 0px 7px #00000021;
}
.pat-autotoc.autotabs,
.autotabs {
  border: none;
  padding: 0px;
}
#edit-zone .plone-toolbar-logo {
  display: table-cell;
  width: 60px;
  height: 50px;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
  vertical-align: middle;
  background: #005880;
}
.select2-container .select2-choice {
  background-color: none;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: white;
}
.img200 {
  width: auto;
}
.pat-leaflet.map.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim {
  margin-bottom: 20px;
}
#ModalCreateKPIZone .form-group {
  position: relative;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.modal-body {
  position: relative;
  padding: 0px!important;
}
.modal-body#NewKPI {
  height: 500px;
  overflow-y: scroll;
}
#content .col-xs-12.col-sm-12 {
  padding: 0px 10px 0px 0px;
}
.has-table .row .col-xs-12.col-sm-12,
.col-lg-3.col-md-4.col-sm-6 {
  padding: 0px;
}
.plone-toolbar-left-expanded {
  padding-left: 0px;
}
#ModalCreate .form-group {
  height: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.modal-dialog {
  width: 600px;
  margin: 100px auto;
}
.wp-buttons {
  float: right;
  margin: 40px 0px;
  width: 100%;
}
.nav-tabs {
  border-bottom: none;
  float: left;
}
.template-login_form #content {
  background-color: transparent;
}
.template-logged_out #content {
  background-color: transparent;
}
input#sso.context {
  width: 98%;
  margin: 3px 3px 11px 11px;
}
.template-logged_out .documentDescription {
  background-color: #41C0F1;
  border: 1px solid #41C0F1;
  color: rgba(0, 0, 0, 0.5);
  width: 420px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 6px auto 6px;
  height: auto;
  padding-top: 11px;
  text-align: center;
  padding-bottom: 20px !important;
}
/* Provisional Header Negro */
.plone-toolbar-top-expanded {
  margin-top: 60px;
  background-color: #f1f1f1;
}
#edit-zone .plone-toolbar-logo,
.plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
  position: absolute;
  left: 0px;
  height: 50px;
  margin-top: 0px;
  border-radius: 0px;
  width: 60px !important;
}
.menuright img {
  height: 60px;
  float: left;
  margin-top: -45px;
  margin-left: 50px;
}
#portal-header {
  padding: 10px 20px 10px 20px;
}
#portal-header {
  margin-top: 30px !important;
}
.sidenav {
  margin-top: 50px;
  box-shadow: 6px 0px 7px #00000021;
}
.nav-tabs > li.active > a {
  border-left: 1px solid #ececec !important;
  border-right: 1px solid #ececec !important;
  border-top: 1px solid #ececec !important;
  margin: 11px 10px 0px 0px;
}
#Collaboration,
#Outcomes,
#Project {
  border: 1px solid #ececec;
}
.nav-tabs > li > a {
  margin: 10px 10px 0px 0px;
}
/* Templeate Monitoring */
.template-monitoring .outcome-planning {
  margin: 5px 0px 0px 0px;
}
.template-monitoring td.last {
  border-right: 2px solid #ddd;
}
.template-monitoring th.name {
  border-right: 2px solid #dddddd;
}
.template-monitoring .table > tbody > tr > td,
.template-monitoring .table > tbody > tr > th,
.template-monitoring .table > tfoot > tr > td,
.template-monitoring .table > tfoot > tr > th,
.template-monitoring .table > thead > tr > td,
.template-monitoring .table > thead > tr > th {
  text-align: center;
  border: 0px;
  vertical-align: middle;
}
.template-monitoring th.thname {
  text-align: left !important;
}
.template-monitoring .col-md-12.text-item-planning.collapse.in {
  text-align: left;
}
.template-monitoring td.current {
  font-weight: bold;
}
.template-monitoring thead tr {
  border-bottom: 2px solid #dddddd;
}
.template-monitoring th.name {
  width: 62%;
  max-width: 100%;
}
.template-monitoring td.date-w {
  color: #ffa359;
  font-weight: bold;
}
.template-monitoring .status-w {
  background-color: #ffa359;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  margin-top: 5px;
  position: absolute;
}
.template-monitoring .template-monitoring td.date-a {
  color: #ff3737;
  font-weight: bold;
}
.template-monitoring .status-a {
  background-color: #ff3737;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  margin-top: 12px;
  position: absolute;
}
.template-monitoring h4#oc {
  margin-left: 0px;
  width: 92%;
}
.template-monitoring .tab-pane {
  width: 100%;
}
.template-monitoring h3.titulocatplan {
  width: 90%;
  margin: 0px;
}
.template-monitoring h3#oc {
  margin-bottom: 20PX;
}
.template-monitoring .separador {
  background-color: #ececec;
  padding: 1px;
  float: left;
  width: 100%;
  margin: 0px 0px 20px 0px;
}
.plone-modal-dialog {
  max-width: 900px;
  margin: 0 auto !important;
}
form#search_projects {
  float: right;
}
.template-collaborating .has-table .col-lg-3.col-md-6 {
  padding: 0px;
}
.fa-plus-circle:before {
  content: "\f055";
  color: #274656;
  border-radius: 32px;
  float: left;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}
i#crearnueva {
  float: left;
}
.text-item-planning {
  font-size: 16px;
  font-weight: 400 !important;
}
.output-group-secondary {
  float: right;
  width: 95%;
}
#groupsec {
  padding: 20px;
}
h3#ia {
  margin-bottom: 20PX;
}
.titulo-general-group {
  padding: 15px 5px;
  float: left;
  width: 100%;
}
h3.titulocatplan {
  margin: 0px 20px;
  float: left;
  padding: 2px 0px;
  color: #3e677c;
  font-weight: 600;
}
.activity-group,
.output-group {
  background-color: #f6f5f5;
  padding: 15px 5px;
  float: left;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  width: 98%;
}
.fa-chevron-circle-down:before {
  color: #CCC;
  border-radius: 32px;
  float: left;
  font-size: 20px;
}
.outcome-group {
  background-color: #f6f5f5;
  padding: 15px 5px;
  float: left;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
}
.Output-planning {
  background-color: #009dcf;
  width: 80px;
  margin: 0px 0px 0px 0px;
}
.kpi-planning {
  background-color: #274656;
  width: 45px;
  margin: 0px 0px 0px 20px;
}
.outcome-planning {
  background-color: #00ce04;
  width: 80px;
  margin: 0px 0px 0px 0px;
}
.CC-planning {
  background-color: #098200;
  width: 45px;
  margin: 0px 0px 0px 20px;
}
.CCS-planning {
  background-color: #ef9700;
  width: 45px;
}
.Activity-planning {
  background-color: #00b4ce;
  width: 80px;
  margin: 0px 0px 0px 20px;
}
.zone-planning {
  background-color: #c34f4f;
  width: 85px;
  margin: 0px 0px 0px 20px;
}
.Activity-planning,
.Output-planning,
.kpi-planning,
.outcome-planning,
.CC-planning,
.CCS-planning,
.zone-planning {
  color: white;
  text-align: center;
  font-size: 13px;
  float: left;
  padding: 2px;
  font-weight: 600;
  border-radius: 4px;
}
.panel-group {
  margin-bottom: 0px;
}
#ModalCreate .form-group {
  margin-bottom: 25px;
  position: relative;
  height: 5px;
  margin-top: 25px;
}
.modal a.ctivity-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  left: 10px;
  position: absolute;
}
.modal a.Activity-planning:hover {
  background-color: #00adc5;
  color: #ffffff;
}
.modal a.Output-planning:hover {
  color: #ffffff;
  background-color: #008ebb;
}
.modal a.Output-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  position: absolute;
  right: 10px;
}
select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#mitad {
  border-right: 1px solid #e5e5e5;
}
.col-md-6#date {
  width: 45%;
  padding: 0px;
}
input[type="date"] {
  display: block;
  width: 98%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.modal-body#New {
  height: 100%;
}
button.btn.btn-default {
  text-shadow: none;
  background-image: none;
  background-color: #00c4ff;
  color: white;
  font-weight: 600;
  width: 90px;
  font-size: 16px;
  border: none;
}
button.btn.btn-default:hover {
  background-color: #00bbf3;
}
.modal-footer {
  border-top: none;
  padding: 22px;
  margin-top: 30px;
}
button.btn.btn-default:active {
  color: white;
}
.modal a.kpi-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  left: 10px;
  position: absolute;
  text-decoration: none !important;
}
.modal a.kpi-planning:hover {
  background-color: #1f3744;
  color: #ffffff;
}
.modal a.zone-planning:hover {
  color: #ffffff;
  background-color: #a94646;
}
.modal a.zone-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  position: absolute;
  right: 10px;
}
#ModalCreateKPIZone .form-group {
  margin-bottom: 15px;
  position: relative;
  height: 5px;
}
#targetagrupados {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 20px 0px;
  margin: 10px 0px 20px 0px;
}
#modal-md-12 {
  padding: 0px;
}
a {
  cursor: pointer;
}
button.btn.ADDNEW {
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 7px 20px 5px 20px;
  margin-left: 15px;
  box-shadow: 0px 1px #e8e8e8;
  font-weight: bold;
}
button.btn.ADDNEW .fa-plus-circle:before {
  content: "\f055";
  color: #000000;
  border-radius: 32px;
  font-size: 20px;
  float: none;
  cursor: pointer;
}
.modal a.CC-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  left: 10px;
  position: absolute;
}
.modal a.CC-planning:hover {
  background-color: #076300;
  color: #ffffff;
}
.modal a.CCS-planning:hover {
  color: #ffffff;
  background-color: #e08e00;
}
.modal a.CCS-planning {
  width: 45%;
  margin: 8px 2%;
  padding: 6px;
  position: absolute;
  right: 10px;
}
#ModalCreateCCSCC .form-group {
  margin-bottom: 15px;
  position: relative;
  height: 5px;
}
.fa-chevron-circle-up:before {
  color: #CCC;
  border-radius: 32px;
  float: left;
  font-size: 20px;
}
a[aria-expanded=true] .fa-chevron-circle-down {
  display: none;
}
a[aria-expanded=false] .fa-chevron-circle-up {
  display: none;
}
/* Style tab links */
.tablink {
  background-color: #ececec;
  color: #1e3440;
  font-weight: 600;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 5px 20px;
  font-size: 18px;
  width: 19%;
  margin-right: 21px;
  border-radius: 7px 7px 0px 0px;
}
.tablink:hover {
  background-color: #777;
}
/*.tab-pane {
  float: left;
  padding: 20px 20px;
  height: 100%;
  background-color: white;
  display: none;
}*/
#Project,
#Outcomes,
#Collaboration {
  width: 100%;
  background-color: white;
}
.modal {
  top: 120px;
}
button.tablink:hover {
  background-color: #bfbfbf;
}
.outcome {
  border-bottom: 1px solid #cecece;
}
.ias {
  margin-top: 15px;
}
a.tablink {
  width: 250px;
  margin-right: 20px;
  border: none !important;
}
.nav-tabs {
  border-bottom: none;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 20px 10px 20px;
}
.text-item-planning .col-sm-12 .col-sm-6 {
  text-align: left;
}
.template-monitoring .CCS-planning {
  margin: 0px 0px 0px 90px !important;
}
textarea.form-control {
  height: 34px;
  min-height: 34px;
  margin-bottom: 20px;
}
textarea.current {
  height: 34px;
  min-height: 34px;
  margin-bottom: 20px;
  width: 60px;
  min-width: 0px;
}
tr.descripcion select {
  margin-bottom: 15px;
}
.template-monitoring button.btn.btn-default {
  float: right;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 16px;
}
tr.descripcion h3 {
  text-align: left;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}
article#content .col-lg-3 {
  width: 22%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2.5%;
}
#portal-logout {
  position: relative;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  padding: 15px;
  font-size: 13px;
  background-color: #0a5272;
  float: none;
  bottom: 0px;
  left: 0px;
}
#portal-logout a {
  color: white;
}
a.plone-btn.plone-btn-info.active {
  width: 100%;
}
div.outer-wrapper {
  margin-left: 0px;
}
.plone-toolbar-top-default .container {
  width: 100%;
}
#sidebar.col-sm-1.sidebar-offcanvas,
#sidebar.col-sm-2.sidebar-offcanvas {
  height: 100%;
  background-color: #0a5272;
  padding: 0px;
  position: fixed;
  left: 0px;
  z-index: 1000;
  top: 50px;
  min-width: 50px;
}
a.plone-btn.plone-btn-success,
a.plone-btn.plone-btn-info {
  text-align: left;
  width: 100%;
}
.col-xs-12.col-sm-12 img {
  height: auto;
}
.leaflet-left {
  z-index: 0 !important;
}
.plone-toolbar-top.plone-toolbar-expanded #edit-zone nav > ul > li {
  width: inherit;
  border-right: 1px solid #f1f1f1;
}
main#main-container .col-sm-10,
main#main-container .col-sm-11 {
  float: right;
  min-height: 90vh !important;
}
.box .card-body h4.card-title.top a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
input.select2-input.select2-default {
  font-weight: 400;
  font-size: 16px;
  padding: 5px 10px 0px 10px;
}
.select2-container .select2-choice {
  background-image: none;
}
a.select2-choice {
  padding: 5px 12px !important;
  height: 34px !important;
}
textarea {
  min-height: 2em !important;
}
#form-widgets-wop_platform {
  width: 100% !important;
}
.pattern-pickadate-wrapper .pattern-pickadate-date-wrapper {
  width: 90%;
}
button.btn.btn-xs.btn-info.pattern-pickadate-now {
  width: 9%;
}
.field {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pat-select2 {
  width: 100%;
}
.has-table .col-xs-12.col-sm-12 img {
  height: auto;
  width: 100%;
}
img.fullwidth {
  width: 100% !important;
  height: auto !important;
}
.col-xs-12.col-sm-12 {
  padding-top: 15px;
}
.formControls {
  width: 100%;
  float: left;
}
select[multiple],
select[size] {
  min-height: 34px;
  min-width: 22em;
}
#content-core a {
  border-bottom: 0px;
}
.pattern-pickadate-wrapper .pattern-pickadate-date-wrapper {
  width: auto;
  float: left;
}
.plone-toolbar-top #edit-zone .plone-toolbar-container {
  width: 90%;
  float: right;
  margin-right: 20px;
}
p.card-text.bottom {
  margin-bottom: 5px;
}
#formfield-form-widgets-image img {
  height: 20px;
  width: 20px;
}
.select2-container a {
  border-bottom: 1px solid #cccccc !important;
}
.pattern-relateditems-container .dropdown-menu,
.pat-structure .dropdown-menu,
.pat-structure .pattern-relateditems-container .dropdown-menu,
.pattern-relateditems-container .pat-structure .dropdown-menu {
  position: relative;
  display: none;
  float: none;
  width: 100%;
}
button.favorites.dropdown-toggle,
button.recentlyUsed.dropdown-toggle.btn.btn-primary {
  min-width: 100%;
}
.pull-right {
  float: right;
  margin: 0px 0px 0px 5px;
}
.pat-leaflet.map.leaflet-container.leaflet-fade-anim {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pattern-relateditems-container .toolbar .controls {
  position: absolute;
  right: 0px;
}
.pagination {
  margin: 10px;
}
a.btn_remove {
  margin-right: 10px;
}
.pattern-relateditems-container .table-bordered,
.pat-structure .table-bordered,
.pat-structure .pattern-relateditems-container .table-bordered,
.pattern-relateditems-container .pat-structure .table-bordered {
  border: none;
}
article#content .col-lg-3,
.col-lg-3.col-md-6 {
  display: flex;
  flex-flow: row nowrap;
}
.col-xs-12.col-sm-12 img,
.has-table .col-xs-12.col-sm-12 img,
img.box-img {
  object-fit: cover;
  height: 275px;
}
.box {
  width: 100%;
}
.plone-toolbar-top #edit-zone ul#personal-bar-container {
  float: right;
}
.plone-toolbar-top #edit-zone ul#personal-bar-container li.active ul {
  right: 20px;
}
.col-md-2 h3 {
  margin-top: 20px;
}
h1,
h2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
h2 {
  font-size: 20px;
  padding: 0px;
  margin-top: 20px;
}
.col-xs-12.col-sm-11 .row {
  margin-bottom: 15px;
}
ul,
menu,
dir {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-7 .col-md-12 {
  margin-bottom: 20px;
}
.row .row .col-md-12 .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.row .col-md-3 div {
  margin-bottom: 40px;
}
#content-core a {
  border-bottom: 0px;
  width: max-content;
}
#search-filter .field {
  width: 100%;
}
.content.result {
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 5px 20px;
}
.col-xs-12.col-sm-11 .row .col-md-6 ul li,
.col-xs-12.col-sm-11 .row .col-md-3 ul li,
.col-xs-12.col-sm-11 .row .col-md-8 ul li {
  width: 47.5%;
  float: left;
  margin-right: 2.5%;
  padding: 5px 20px;
  background-color: #f3f3f3;
  margin-top: 6px;
  border-radius: 4px;
}
#CC td .row .col-sm-12 h3,
#CCS td .row .col-sm-12 h3 {
  font-weight: 500;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
tr th {
  font-weight: 400;
  font-size: 14px;
  color: #0a5272;
}
tr.descripcion#CC h4.titulocatplan,
tr.descripcion#CCS h4.titulocatplan {
  width: 50%;
  text-align: left;
  margin: 0px 20px;
  float: left;
  padding: 0px;
  font-size: 16px;
  color: #007bb1;
  font-weight: 400;
}
h4.titulocatplan {
  float: left;
  color: #3e677c;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
}
tr.descripcion h3.titulocatplan {
  margin-top: 20px;
  margin-bottom: 12px;
  width: 90%;
  color: #565656;
}
.template-monitoring .Output-planning,
.template-monitoring .kpi-planning,
.template-monitoring .CC-planning,
.template-monitoring .CCS-planning,
.template-monitoring .Activity-planning,
.template-monitoring .zone-planning,
.template-monitoring .CCS-planning {
  margin: 0px 0px 0px 30px !important
}
i#expandir {
  float: right;
  margin-top: 18px;
  margin-bottom: 12px;
}
tr.descripcion .panel-collapse .row h3 {
  font-size: 14px !important;
  font-weight: 400;
  margin-top: 0px;
}
#OTFD a,
#OTAD a,
#IndDim a {
  padding: 20px !important;
}
.panel-collapse.collapse {
  padding: 5px;
}
tr.descripcion td {
  padding: 5px 10px !important;
}
#OTFD.panel-collapse.collapse,
#OTAD.panel-collapse.collapse,
#IndDim.panel-collapse.collapse {
  padding: 0px 20px 0px 0px;
}
th.name {
  padding: 5px 20px !important;
}
.sidenav2 ul#sidenav-vertical a img {
  width: 125px !important;
  padding: 5px;
}
ul#sidenav-vertical {
  background-color: white;
}
.sidenav2 ul#sidenav-vertical a img {
  width: 125px !IMPORTANT;
  padding: 5px 5px 0px 5px;
}
a.plone-btn.plone-btn-info,
a.plone-btn.plone-btn-success,
.sidenav2 .plone-btn-default {
  font-weight: 600;
  border-radius: 0px;
  padding: 15px;
  margin: 0px 0px;
  border-bottom: 1px solid #0a5272;
  font-size: 16px;
}
h4#activity {
  margin: 0px 20px;
}
.plone-toolbar-top #edit-zone nav {
  padding-left: 0px;
}
#furexp {
  padding: 0px 15px 0px 0px;
}
.template-login_failed #content,
.template-logged_out #content,
.template-login_form #content {
  background-color: transparent;
}
#mainobstacle,
#kpi,
#mainsupfac {
  padding-left: 0px;
}
p#rss-subscription img {
  height: 15px;
}
.col-xs-12.col-sm-12 img,
.has-table .col-xs-12.col-sm-12 img,
img.box-img {
  width: auto;
  height: auto;
}
.template-homepage .col-xs-12.col-sm-12 img,
.template-homepage .has-table .col-xs-12.col-sm-12 img,
.template-homepage img.box-img {
  object-fit: cover;
  height: 225px;
  width: 100%;
}
a.state-private {
  margin: 8px;
}
.autotabs ol.searchResults {
  padding: 0px;
}
ul .fa:before,
ul .fas:before {
  margin-right: 20px;
}
.col-xs-12.col-sm-11 .row {
  margin-right: 0px;
  margin-left: 0px;
}
body#visual-portal-wrapper div.outer-wrapper container row {
  margin-right: 0px;
  margin-left: 0px;
}
#search-results-wrapper .link-category {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #636363;
  border-radius: 4px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.template-search #search-results-wrapper .link-category {
  display: inline;
}
.template-search #search-results-wrapper a.link-category {
  padding: 0px;
  background-color: #ffffff;
  text-decoration: underline;
}
tbody tr.descripcion {
  background-color: #0a52720a;
}
.template-monitoring .col-md-12.text-item-planning.collapse.in {
  padding: 5px 0px 0px 15px;
  margin: 0px;
}
.sidenav2 .plone-btn-default {
  color: #fff;
  background-color: #0a5272;
  border-color: #0a5272;
  border-radius: 0px;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 13px;
}
.col-md-2 li {
  margin-bottom: 10px !important;
  margin-top: 10px;
}
.template-edit .col-xs-6.col-sm-3.sidebar-offcanvas {
  margin-top: 15px;
}
.template-areas .col-xs-12.col-sm-12 img,
.template-areas .has-table .col-xs-12.col-sm-12 img,
.template-areas img.box-img,
.template-projectareas .col-xs-12.col-sm-12 img,
.template-projectareas .has-table .col-xs-12.col-sm-12 img,
.template-projectareas img.box-img {
  object-fit: cover;
  height: 275px;
  width: 100% !important;
}
.template-collaborating .col-xs-12.col-sm-12 img,
.template-collaborating .has-table .col-xs-12.col-sm-12 img,
.template-collaborating img.box-img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}
.card-body {
  color: white;
  position: absolute;
  background-color: #06567aa8;
  width: 100%;
  bottom: 0px;
  font-weight: 500;
  padding: 5px 20px;
  font-size: 15px;
}
.card-body a {
  color: white;
  font-size: 14px;
}
button.context.focus,
button.context,
input.submit-widget {
  float: right;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: none;
  background-image: none;
  font-weight: 600;
  border: none;
  border-radius: 24px;
}
table.calendari td,
table.calendari th {
  padding: 4px !important;
}
header.portlet-header h3 {
  text-align: center;
  margin: 10px auto 10px auto !important;
  float: left;
}
div#membersBlock h1,
div#calendarBlock h1,
div#filesBlock h1,
div#membersBlock h2,
div#calendarBlock h2,
div#filesBlock h2 {
  padding-left: 0px;
  padding-right: 0px;
}
article#content {
  float: left;
  width: 100%;
  right: 0px;
  margin-left: 0px;
}
.template-view .outer-wrapper article#content .row-fluid.has-table .col-lg-3.col-md-6 {
  padding: 0px;
}
.template-view .col-xs-12.col-sm-12 img,
.template-view .has-table .col-xs-12.col-sm-12 img,
.template-view img.box-img {
  object-fit: cover;
  height: 275px !important;
}
.container {
  width: 100% !important;
}
.comment.replyTreeLevel0 {
  margin-top: 0px;
}
.discussion .comment {
  margin-top: 75px;
}
.template-view .col-xs-12.col-sm-12 img.defaultuserimg {
  height: 40px !important;
  width: 40px !important;
  margin-top: 31px;
}
.discussion.showCommenterImage {
  padding: 20px;
  background-color: white;
}
input.destructive {
  margin-right: auto;
  margin-top: 0px;
  text-shadow: none;
  background-image: none;
  font-weight: 600;
  border: none;
  border-radius: 24px;
}
.reply {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
}
.row .reply .field {
  width: 100%;
}
.template-profile .photo.col-md-12 img {
  width: 100%;
  height: auto;
}
.replyTreeLevel0 {
  margin-top: 10px !important;
}
input#form-buttons-cancel {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 0px 20px;
  font-weight: 400;
  border: 1px solid #a6a6a6;
}
tr.descripcion a[aria-expanded="false"] - tr#contenido {
  display: none;
}
body#visual-portal-wrapper.template-view .col-xs-12.col-sm-12 img,
body#visual-portal-wrapper.template-view .has-table .col-xs-12.col-sm-12 img,
body#visual-portal-wrapper.template-view img.box-img {
  object-fit: cover;
  height: 100px !important;
  width: 100%;
}
body#visual-portal-wrapper.template-view .col-md-3 .col-lg-12.col-md-12 {
  padding: 0px;
}
.col-md-2.documentFirstHeading.focus.context {
  float: right !important;
}
body#visual-portal-wrapper.template-view .col-md-9 .row .col-md-2 {
  padding: 0px;
}
body#visual-portal-wrapper.template-view .col-xs-12.col-sm-12 img.fullwidth {
  object-fit: cover;
  height: 154px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col-xs-12.col-sm-12 .row .col-md-6 h2 {
  margin-top: 0px;
}
.col-xs-12.col-sm-12 .row .col-md-4 h2 {
  margin-top: 0px;
}
button.context.focus {
  margin-left: 20px;
}
.link-category {
  display: inline;
  padding: 0.2em 1.6em 0.3em;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #00547a;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 14px;
  background-color: #b6efff;
  margin-right: 7px;
  margin-left: 7px;
}
body#visual-portal-wrapper.template-view .row .col-md-3 div {
  margin-bottom: 0px;
}
body#visual-portal-wrapper.template-view .col-md-3 .col-lg-12.col-md-12 {
  padding: 0px;
  margin-bottom: 10px;
}
footer.row {
  margin-bottom: 20px;
}
.outer-wrapper .col-xs-11.col-sm-10 .col-md-9 .row .col-md-12 {
  width: 100%;
  padding: 0px;
}
tr th {
  font-weight: 400;
  font-size: 12px;
  color: grey;
}
.outer-wrapper .col-xs-11.col-sm-10 .col-md-9 .row .col-md-6 {
  padding-left: 0px;
}
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#edit-zone {
  box-shadow: 0px 2px 6px 0px #00000045;
}
.buttonbudget {
  background-color: #40d0fa !important;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 1px solid #e5e5e500;
}
table > thead > tr > th {
  border-bottom: 1px solid #e2e2e2;
}
table {
  border: 0px solid #e5e5e5;
}
.box .card-body2 {
  color: white;
  background-color: #06567aa8;
  width: 100%;
  bottom: 0px;
  font-weight: 500;
  padding: 5px 20px;
  font-size: 15px;
  min-height: 145px;
}
.has-table h2 {
  padding-left: 15px;
  padding-right: 15px;
}
a p.card-text-top {
  position: absolute;
  height: 100%;
  background-color: #007bb199;
  padding: 20px 15px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}
.box {
  width: 100%;
  position: relative;
}
h3 a i.fa.fa-remove {
  float: right;
}
h3 a i.fas.fa-edit {
  float: right;
}
h3 a i.fas.fa-plus-square {
  color: #00a9f3;
}
.dropdown-menu > li > a {
  display: block;
  padding: 0px 10px;
  clear: both;
  line-height: 1.42857143;
  color: #274656;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
}
.information.object span {
  font-weight: 400;
}
.information.object {
  float: right;
  padding: 0px;
  color: #3e677c;
  width: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.contentt {
  float: left;
}
div#mu {
  width: 120px;
  padding: 0px 5px;
}
div#target {
  width: 100px;
  padding: 0px 5px;
}
div#value {
  width: 125px;
  padding: 0px 5px;
}
div#bl {
  width: 110px;
  padding: 0px 5px;
}
#header {
  font-weight: 600;
  margin-bottom: 0px;
}
.separator {
  float: left;
  font-weight: 700;
  color: #bababa;
}
button.context.focus {
  margin-left: 20px;
}
tr th {
  font-size: 14px;
  font-weight: 600;
}
.card-body2 h4 {
  color: #ffffff;
}
/* alternativa más logalto para el overview del proyecto */
.box {
  border-radius: 4px;
}
.box .card-body2 {
  color: #595959;
  background-color: #f3f3f3;
  width: 100%;
  bottom: 0px;
  font-weight: 500;
  padding: 5px 15px;
  font-size: 15px;
  min-height: 130px;
}
p.card-text.bottom {
  border-top: 1px solid #999;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
.card-body2 h4 {
  font-size: 15px;
  color: #007bb1;
  font-weight: 500;
  height: 70px;
}
.box .card-body.card-text.bottom span {
  padding-left: 20px;
  padding-right: 20px;
}
.box .card-body {
  color: #fff;
  position: absolute;
  background-color: #0a5272ba;
  width: 100%;
  bottom: 0px;
  font-weight: 500;
  padding: 5px 15px;
  font-size: 15px;
}
.card-body p.card-text.bottom {
  border-top: 0px;
}
.col-xs-12.col-sm-12 .col-lg-4.col-md-4.col-sm-6,
.col-xs-12.col-sm-12 .col-lg-3.col-md-4.col-sm-6 {
  margin-top: 20px;
}
.template-homepage .row .col-md-3 div {
  border-radius: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  background-color: #0a5272ba;
  font-weight: 600;
}
article#content .col-lg-3 {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.card-body {
  position: absolute;
  z-index: 1;
}
tr th {
  color: #3e677c !important;
}
form#search_projects {
  float: right;
  margin-right: 20px;
}
td,
th,
table {
  padding: 7px 10px 7px 20px;
}
.buttonbudget {
  background-color: #ffffff !important;
  color: #0a5272;
  font-weight: bold;
  margin-top: 20px;
}
.col-xs-12.col-sm-12 .row .col-md-6 h2,
.col-md-9 .row h2 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}
body#visual-portal-wrapper.template-view .row .col-md-3 div {
  background-color: #fff;
}
#calendarBlock,
#membersBlock,
#filesBlock {
  margin-bottom: 40px !important;
}
.col-md-3 .col-lg-12.col-md-12 .box .card-body {
  background-color: #0a5272a8 !important;
}
button.context.focus {
  float: right;
  position: relative;
  margin-top: 15px;
}
.fa-edit:before,
.fa-trash-alt:before {
  color: #31b0d5;
}
li {
  margin: 10px 0px;
}
/*cambios 1/4/2019 */
.tabla_nombre {
  border-bottom: 1px solid #595959;
}
.tabla_hilera {
  position: relative;
}
#actions {
  width: 60px;
  padding: 0px 5px;
}
#nextupdate {
  width: 120px;
  padding: 0px 5px;
}
.col-md-12.text-item-planning.collapse.in {
  padding: 15px 0px;
}
ul.item {
  padding-left: 0px;
  float: left;
}
th.contibutioncentered,
td.contibutioncentered,
{
  text-align: right;
}
/*.form-control,*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 98%;
}
.titleRowPlanning {
  float: left;
  padding: 2px 20px;
  font-size: 18px;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.tabla_cabecera {
  border-bottom: 2px solid #dddddd;
  padding-bottom: 0px;
  padding-top: 35px;
  float: left;
  width: 100%;
}
.contentt a.pat-plone-modal {
  padding: 0px;
}
.block_sub_indicators {
  margin-top: 5px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.col-md-12.text-item-planning {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px;
}
.fa-plus-circle:before {
  content: "\f055";
  color: #274656;
  border-radius: 32px;
  float: left;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
  top: 0px;
}
.output-planning {
  margin: 0px 0px 0px 20px;
}
.block_sub_indicators a.pat-plone-modal {
  padding: 10px;
  padding-left: 20px;
  color: #3e677c;
  font-size: 16px;
  font-weight: 600;
}
.plone-btn-sm {
  margin-left: 20px;
}
.contentt a.pat-plone-modal {
  padding: 0px;
}
li#contentview-folderContents {
  margin: 0px;
}
li#contentview-view,
li#contentview-edit,
li#contentview-local_roles,
li#contentview-settings,
li#contentview-folderContents,
li#portal-personaltools{
  margin: 0px;
}
.tabla_hilera .tabla_info .fa-plus-circle:before {
    content: "\f055";
    color: #274656;
    border-radius: 32px;
    float: left;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    left: 0px !important;
    position: absolute;
    top: 0px;
}
.fa-edit:before, .fa-trash-alt:before {
    color: #0a5272;
}
@media (max-width: 966px) and (min-width: 766px) {
  #sidebar.col-sm-2 {
    width: 25%;
  }
}
@media (max-width: 1500px) {
  #portal-footer-wrapper {
    padding: 30px 15px;
    background-color: #2e3133;
    color: #cccccc;
    text-align: center;
    clear: both;
    width: 100% !important;
    position: absolute;
  }
  a.plone-btn.plone-btn-info.active {
    font-size: 12px;
  }
  a.plone-btn.plone-btn-info,
  ul#portal-logout {
    font-size: 12px;
  }
}
@media (max-width: 1430px) {
  .fa-chart-pie:before {
    content: "\f200";
    font-size: 20px;
  }
  .fa-calendar-check:before {
    content: "\f274";
    font-size: 20px;
  }
  .fa-file-alt:before {
    content: "\f15c";
    font-size: 20px;
  }
  .fa-tachometer-alt:before {
    content: "\f3fd";
    font-size: 20px;
  }
  ul .fa:before,
  ul .fas:before {
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  li a.tablink {
    max-width: 180px;
  }
  .sidenav {
    height: 95%;
    width: 15%;
  }
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100% !important;
  }
}
@media (min-width: 1048px) {
  #sidebar.col-sm-1.sidebar-offcanvas,
  #sidebar.col-sm-2.sidebar-offcanvas {
    width: 16% !important;
  }
}
@media (max-width: 1000px) {
  body#visual-portal-wrapper.template-view .row .col-md-3 div {
    margin-bottom: 0px;
  }
  article#content .row .col-md-3,
  article#content .row .col-md-9 {
    padding: 0px;
  }
  .buttonbudget {
    float: right;
    background-color: #007dac;
    padding: 12px;
    font-size: 15px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  article#content .col-lg-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5%;
  }
  .col-xs-11 {
    width: 84%;
    float: right;
  }
  .sidenav {
    width: 16%;
    height: 90%;
  }
  ul.plone-toolbar-main span {
    font-size: 0px;
  }
  .autotabs .autotoc-nav a:not(.active) {
    box-shadow: none;
  }
}
@media (max-width: 992px) {
  .paddingleft20 {
    padding-left: 12px !important;
  }
  .template-monitoring .col-md-12.text-item-planning.collapse.in {
    border-bottom: 0px;
  }
  .template-monitoring tr.descripcion,
  .template-monitoring td.descripcion {
    display: table-row;
    float: none;
  }
  .template-monitoring #Project,
  .template-monitoring #Outcomes,
  .template-monitoring #Collaboration {
    width: 100%;
    background-color: white;
  }
  .template-monitoring .table > tbody > tr > td,
  .template-monitoring .table > tbody > tr > th,
  .template-monitoring .table > tfoot > tr > td,
  .template-monitoring .table > tfoot > tr > th,
  .template-monitoring .table > thead > tr > td,
  .template-monitoring .table > thead > tr > th {}
  .template-monitoring td.descripcion {
    width: 250%;
  }
  .template-monitoring #mitad {
    border-right: none;
  }
  .template-monitoring .text-item-planning {
    margin-top: 50px;
  }
  .template-monitoring h4.titulocatplan {
    margin: 0px 10px;
    width: 100%;
    text-align: left;
  }
  .template-monitoring h3#ia {
    margin-bottom: 20PX;
    width: 90%;
    padding: 0px;
    margin: 15px 0px 10px 0px;
  }
  .template-monitoring .titulo-general-group {
    padding: 15px 0px;
  }
  .template-monitoring .activity-group,
  .output-group {
    margin-right: 0px;
    margin-left: 0px;
  }
  .template-monitoring h3.titulocatplan {
    margin: 10px 0px 10px 0px;
    width: 90%;
  }
  .template-monitoring .col-md-12.text-item-planning.collapse.in {
    padding-bottom: 20px;
    margin-top: 0px;
  }
  .template-monitoring .Output-planning,
  .template-monitoring .kpi-planning,
  .template-monitoring .CC-planning,
  .template-monitoring .CCS-planning,
  .template-monitoring .Activity-planning,
  .template-monitoring .zone-planning,
  .template-monitoring .CCS-planning {
    margin: 8px 0px 0px 20px !important;
  }
  tr.descripcion {
    padding: 0px 20px !important;
  }
  .template-monitoring h4.titulocatplan {
    margin: 4px 20px;
    width: 100%;
    text-align: left;
  }
  .col-xs-6.col-md-9.col-lg-9 {
    width: 100%;
  }
  .col-xs-6.col-md-3 {
    width: 100%;
    border-top: 1px solid #a8a8a8;
    padding-top: 20px;
    margin-top: 20px;
  }
  tr.descripcion#CC h4.titulocatplan,
  tr.descripcion#CCS h4.titulocatplan {
    width: 90%;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    float: none;
    color: #007bb1;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .panel-collapse.collapse .row .col-sm-6 {
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 966px) {
  .input-group-btn {
    float: left;
    width: 100%;
  }
  #searchform .input-group input.searchPage.btn {
    width: 100%;
    margin-top: 10px;
  }
  .col-md-6 {
    margin-top: 20px;
  }
  main#main-container .col-xs-11.col-sm-10 {
    width: calc(100% - 200px);
    float: right !important;
    padding: 0px;
  }
  .template-personal-information article#content {
    width: 100%;
    right: 0px;
    margin-left: 0px;
  }
  .template-personal-information main#main-container .col-xs-11.col-sm-10 {
    width: 91%;
    right: 0px;
    float: right;
  }
  #sidenav-vertical a.plone-btn.plone-btn-info.active {
    font-size: 0px;
  }
  a.plone-btn.plone-btn-success {
    font-size: 0px;
  }
  #content {
    margin-top: 0px;
  }
  input#form-buttons-cancel {
    margin: 0px;
    width: auto;
  }
  #portal-logout a {
    font-size: 0px !important;
  }
  a.plone-btn.plone-btn-info {
    font-size: 0px;
  }
  i.fa.fa-home:before {
    font-size: 25px;
    margin-left: -1px !important;
  }
  .menuleft a {
    color: #004657;
  }
  .menuleft .fa:before {
    margin-top: 4px !important;
    float: left;
    margin-left: 4px;
  }
  #portal-header {
    margin-bottom: 20px;
    width: 100% !important;
    background-color: #fff;
    color: white;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 6px 6px 0px #0000002e;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 0px;
    padding: 10px 15px;
  }
  #content {
    margin-bottom: 48px;
    background-color: white;
    padding: 30px;
    border-radius: 4px;
  }
  .sidenav {
    width: 8%;
    height: 87%;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 6px 0px 7px #00000021;
  }
  .menuright img {
    width: 125px;
    float: left;
    margin-left: 60px;
    margin-top: -50px !important;
  }
}
@media (min-width: 766px) {
  #sidebar.col-sm-2 {
    width: 18%;
  }
  a.plone-btn.plone-btn-info,
  ul#portal-logout {
    font-size: 15px !important;
    overflow: hidden;
  }
  .col-xs-11.col-sm-10 {
    margin-top: 20px !important;
  }
}
@media (max-width: 766px) {
  .plone-toolbar-expanded #edit-zone {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    z-index: 3000;
  }
  #portal-footer-wrapper {
    width: calc(100% - 50px) !important;
    position: absolute;
    right: 0px;
  }
  #sidebar.col-sm-1.sidebar-offcanvas,
  #sidebar.col-sm-2.sidebar-offcanvas {
    top: 0px;
    min-width: 50px;
    padding-top: 50px;
  }
  main#main-container .col-xs-11.col-sm-10 {
    width: calc(100% - 45px);
    padding: 0px;
    float: right !important;
    padding: 0px;
  }
  #edit-zone .plone-toolbar-logo img,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo img {
    margin-top: 10px;
  }
  .sidenav2 ul#sidenav-vertical a img {
    width: 50px !IMPORTANT;
    padding: 10px 1px;
    height: auto;
  }
  main#main-container .col-xs-11.col-sm-10 {
    margin-top: 75px;
  }
  .col-xs-11 {
    width: 91.6%;
    float: right;
  }
  .col-sm-1 {
    width: 60px;
  }
  li.visible {
    width: 100%;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    width: 100%;
  }
  .documentDescription ul.pagination.pagination-lg {
    margin: 20px 0px 0px 0px !important;
  }
  button.plone-btn-warning {
    width: 100%;
    margin-bottom: 2px;
  }
  .plone-btn-danger {
    width: 100%;
  }
  ul.nav.nav-tabs {
    margin-top: 20px;
  }
  li a.tablink {
    max-width: 100%;
    width: 100%;
  }
  .nav-tabs > li {
    width: 100%;
  }
  .nav-tabs {
    width: 100%;
  }
  .nav-tabs > li > a {
    margin: 0px 0px 0px 0px;
  }
  .nav-tabs > li.active > a {
    margin: 0px;
  }
  ul.plone-toolbar-main span {
    font-size: 13px;
  }
  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    position: absolute;
    left: -60px;
    height: 45px;
    border-radius: 40px;
    width: 45px !important;
    padding: 0px 10px;
  }
  /* Provisional Header Negro */
  .plone-toolbar-top-expanded {
    margin-top: 60px;
    background-color: #f1f1f1;
  }
  .menuright img {
    height: 60px;
    float: left;
    margin-left: 50px;
    margin-top: -50px !important;
  }
  #portal-header {
    padding: 10px 20px 10px 20px;
    margin-top: 0px !important;
  }
  .sidenav {
    height: 95%;
    margin-top: 50px;
    width: 8%;
  }
  #content {
    margin-top: 0px;
  }
  #portal-header {
    height: 50px;
  }
  .col-xs-12.col-sm-12 {
    padding-top: 15px;
  }
  a.plone-btn.plone-btn-info,
  ul#portal-logout {
    font-size: 0px;
  }
  .sidenav2 ul#sidenav-vertical .logo {
    height: auto;
    width: auto;
    background: url(++theme++gwopa.theme/assets/images/logo_gotas.png) no-repeat !important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin-left: 8px;
    padding-bottom: 5px;
    background-position: 0px 10px !important;
    padding-top: 5px;
  }
  .sidenav2 ul#sidenav-vertical a img {
    filter: opacity(0);
  }
}
@media (max-width: 650px) {
  .has-table h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1.documentFirstHeading a {
    width: 100%;
  }
  #s2id_autogen1 {
    width: 100% !important;
  }
  .col-md-6 {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a.plone-toolbar-logo {
    top: -5px;
  }
  button.context.focus,
  button.context,
  input.submit-widget {
    float: right;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: none;
    background-image: none;
    font-weight: 600;
    border: none;
    border-radius: 24px;
    width: 100%;
  }
  .has-table {
    width: 100%;
  }
  .row .col-md-12 {
    padding: 0px;
    margin-top: 20px;
  }
  .col-md-6 .row .col-md-6 {
    padding: 0px;
    margin: 10px 0px;
  }
  .col-xs-12.col-sm-11 {
    width: 90%;
    margin-left: 4.5%;
  }
  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    position: absolute;
    left: -61px;
    width: 40px !important;
    height: 40px;
    border-radius: 32px !important;
    margin-top: 10px;
    padding: 0px 8px;
  }
  ul.plone-toolbar-main span {
    font-size: 13px;
  }
  .menuright img {
    margin-top: -52px;
  }
  .sidenav {
    width: 9%;
    margin-top: 50px;
    height: 93%;
  }
  #content {
    margin-top: 20px;
  }
  article#content .col-lg-3 {
    width: 100%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
  }
}
@media (max-width: 601px) {
  h4 {
    font-size: 16px;
  }
  main#main-container .col-xs-11.col-sm-10 {
    margin-top: 20px;
  }
  .col-xs-11.col-sm-10 {
    margin-top: 20px;
  }
  .col-md-12.groupgnr {
    padding: 0px;
  }
  .col-md-12.collapse.in {
    padding: 0px;
  }
  #edit-zone .plone-toolbar-logo img,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo img {
    float: left;
    margin: 10px 0px 10px -5px;
  }
  input#form-buttons-cancel {
    margin: 0px;
    width: 100%;
  }
  .box img {
    width: 100%;
    height: 100%;
  }
  .menuright img {
    width: 120px;
    float: left;
    margin-top: -47px !important;
    margin-left: 40px;
  }
  .pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .picker__input {
    width: 95%;
  }
  .pat-autotoc.autotabs,
  .autotabs {
    padding: 0;
  }
  a.plone-btn.plone-btn-info {
    font-size: 0px;
  }
  .documentFirstHeading {
    font-size: 20px;
  }
  .right {
    float: none;
    font-size: 14px;
    padding: 8px;
  }
  .sidenav a {
    font-size: 0px;
  }
  .has-table {
    overflow: scroll !important;
  }
  #portal-languageselector {
    float: left;
    margin-left: 0px;
    font-size: 12px;
    padding: 0px;
    margin-top: 8px;
  }
  .context {
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
  }
  .recentlyUsed.dropdown.pull-right {
    margin-bottom: 10px;
  }
  button.favorites.dropdown-toggle.btn.btn-primary {
    margin-bottom: 10px;
  }
  input#form-buttons-cancel {
    margin: 0px;
  }
  td,
  th,
  table {
    padding: 10px !important;
  }
  .alert.status.alert-success,
  .portalMessage.alert-success,
  .alert.status.info,
  .portalMessage.info {
    background-color: #aad6ea;
    border: 1px solid #9acee6;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px;
  }
  select[multiple],
  select[size] {
    min-height: 34px;
    min-width: 200px !important;
  }
  .plone-modal-wrapper table > tbody > tr > td {
    width: 100% !important;
    float: left;
    margin-bottom: 10px;
  }
  .plone-modal-wrapper select#form-widgets-country {
    max-width: 100%;
  }
  .plone-modal-wrapper tbody {
    border: 1px solid white !important;
  }
  .pull-right {
    width: 100%;
    height: auto;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: auto;
    margin-right: auto;
  }
  a.plone-btn.plone-btn-info,
  a.plone-btn.plone-btn-success {
    border-radius: 0px;
    padding: 15px 0px 15px 17px;
  }
  .pat-autotoc.autotabs .autotoc-section.active {
    margin-top: 20px;
  }
  body#visual-portal-wrapper br {
    display: block;
  }
  #content {
    padding: 18px;
    overflow: scroll;
    margin-bottom: 48px;
    background-color: white;
    border-radius: 4px;
    margin-top: 8px;
  }
  #portal-header {
    margin-bottom: 20px;
    width: 100% !important;
    background-color: #fff;
    color: white;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 2px 6px 0px #cecece;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 0px;
    padding: 10px 15px;
  }
  #mainnavigation-wrapper {
    margin-top: 50px !important;
  }
  i.fa.fa-home:before {
    font-size: 25px;
  }
  a.plone-btn.plone-btn-info,
  a.plone-btn.plone-btn-success {
    border-radius: 0px;
    padding: 15px;
  }
  i.fa.fa-home:before {
    font-size: 25px;
    margin-left: -1px !important;
  }
  .menuleft a {
    color: #004657;
  }
  h1 span {
    color: #9a9a9a !important;
    font-size: 22px;
  }
  .sidenav {
    width: 9%;
    height: 93%;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 6px 0px 7px #00000021;
  }
  .bottom span {
    font-size: 18px;
  }
  h1,
  .documentFirstHeading {
    font-size: 30px;
  }
  .menuright img {
    width: auto;
    float: left;
    margin-top: -50px !important;
    margin-left: 40px;
  }
  .menuleft .fa:before {
    margin-top: 15px !important;
    float: left;
    margin-left: 4px;
  }
  h1,
  .documentFirstHeading {
    font-size: 26px;
  }
  .portalMessage.info {
    margin-left: 15px;
    margin-right: 15px;
  }
  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    position: absolute;
    left: -60px;
    width: 40px !important;
    height: 40px;
    border-radius: 32px !important;
    padding: 0px 13px;
  }
  ul#personal-bar-container {
    margin-top: 50px !important;
  }
  h1,
  .documentFirstHeading {
    font-size: 22px;
    padding: 0px;
  }
  article .row .row {
    margin-right: 0px;
  }
  #content .row .row .col-md-10 {
    padding: 0px;
  }
  article#content {
    margin-top: 0px;
    padding: 18px 20px;
  }
}
@media (max-width: 480px) {
  a.plone-btn.plone-btn-info,
  a.plone-btn.plone-btn-success {
    padding: 8px 12px;
  }
  .portalMessage.info {
    margin-left: 30px;
    margin-right: 20px;
  }
  .menuleft {
    margin-top: 0px;
  }
  .menuleft .fa:before {
    float: left;
    margin-left: 4px;
  }
  .sidenav {
    width: 13%;
    height: 92%;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 6px 0px 7px #9b464621;
  }
  .menuleft .fa:before {
    margin-top: 13px !important;
    float: left;
    margin-left: 4px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 360px) {
  a.plone-btn.plone-btn-info,
  a.plone-btn.plone-btn-success {
    padding: 8px 12px;
  }
  .sidenav {
    width: 13%;
  }
}